In [1]:
import pandas as pd

In [25]:
ride = pd.read_csv("C:/Users/micha/Documents/1_Wirtschaftsinformatik/4. Semester/Data Science & Machine Learning/Gruppenprojekt/2019_05.csv")
weather = pd.read_csv("C:/Users/micha/Documents/1_Wirtschaftsinformatik/4. Semester/Data Science & Machine Learning/Gruppenprojekt/weather.csv")
census_tract = pd.read_csv("C:/Users/micha/Documents/1_Wirtschaftsinformatik/4. Semester/Data Science & Machine Learning/Gruppenprojekt/census_tract_characteristics.csv")

In [4]:
ride

,Trip ID,Trip Miles,Trip Start Timestamp,Trip End Timestamp,Pickup Census Tract,Pickup Centroid Location,Dropoff Census Tract,Dropoff Centroid Location,Shared Trip Authorized,Trips Pooled,Trip Total,Fare,Additional Charges,Tip
0,001ab3a53a4f74430d2a9aae216fed703244cfc9,1.5,2019-05-01 00:00:00,2019-05-01 00:00:00,1.703183e+10,POINT (-87.6542980837 41.9462945357),1.703106e+10,POINT (-87.671518011 41.9579038971),False,1,5.05,2.5,2.55,0
1,01080eb6fc1bd9ec70e3fd8a2a56345754b92332,5.7,2019-05-01 00:00:00,2019-05-01 00:15:00,1.703108e+10,POINT (-87.6288741572 41.8920726347),1.703183e+10,POINT (-87.6542980837 41.9462945357),True,2,8.22,7.5,0.72,0
2,015aeacaa25560b04a0dfc6a48f95a820f9a22f6,0.7,2019-05-01 00:00:00,2019-05-01 00:15:00,1.703133e+10,POINT (-87.6173580061 41.859349715),1.703184e+10,POINT (-87.6314065252 41.8710158803),False,1,5.05,2.5,2.55,0
3,01aded4891f4d76040f68a15730afcb5003b70ea,2.7,2019-05-01 00:00:00,2019-05-01 00:15:00,1.703128e+10,POINT (-87.642648998 41.8792550844),1.703108e+10,POINT (-87.6318639497 41.8920421365),False,1,10.05,7.5,2.55,0
4,023ea4b576bf41415848e32b5fc4fae7d49e4cca,0.7,2019-05-01 00:00:00,2019-05-01 00:00:00,1.703128e+10,POINT (-87.6428084655 41.8853000224),1.703184e+10,POINT (-87.6327464887 41.8809944707),False,1,7.55,5.0,2.55,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6473071,fe2f04bc1b4ea3aded8a78658cc8edd323338a5e,3.5,2019-05-31 23:45:00,2019-06-01 00:00:00,1.703132e+10,POINT (-87.6209929134 41.8849871918),1.703183e+10,POINT (-87.6572331997 41.8852813201),False,1,10.05,7.5,2.55,0
6473072,feb856490a4b0347d969f12e4441e156c2d95c02,7.8,2019-05-31 23:45:00,2019-06-01 00:15:00,1.703133e+10,POINT (-87.6173580061 41.859349715),1.703106e+10,POINT (-87.6661106945 41.9360865352),False,1,17.55,15.0,2.55,0
6473073,fed64aeed4f1adec33181fc45293e89e67ef4c57,3.4,2019-05-31 23:45:00,2019-06-01 00:00:00,1.703183e+10,POINT (-87.6542980837 41.9462945357),1.703121e+10,POINT (-87.7038545435 41.9357064711),False,1,10.05,7.5,2.55,0
6473074,feed29ad09ef0ab559ffb5fd43323aaf3db0b55d,2.9,2019-05-31 23:45:00,2019-06-01 00:00:00,1.703183e+10,POINT (-87.6572331997 41.8852813201),1.703108e+10,POINT (-87.630963601 41.9094956686),False,1,12.55,10.0,2.55,0
6473075,ff0382063dc02bb181fdbad320456c4ec90c2399,8.8,2019-05-31 23:45:00,2019-06-01 00:15:00,1.703108e+10,POINT (-87.6378442095 41.8932163595),1.703104e+10,POINT (-87.681993542 41.9833308063),False,1,17.55,15.0,2.55,0

In [26]:
weather

           date  wind  precipitation  avg_temp
0    2018-10-01   3.2           39.6      16.0
1    2018-10-02   2.3            0.3      16.7
2    2018-10-03   6.2            0.0      20.9
3    2018-10-04   7.2            1.0      18.8
4    2018-10-05   3.2           31.5      14.1
..          ...   ...            ...       ...
543  2020-03-27   4.6            8.4       5.4
544  2020-03-28   4.1           37.6       9.3
545  2020-03-29   9.3            0.0      10.8
546  2020-03-30   4.7            0.0       7.4
547  2020-03-31   5.6            0.0       4.3

[548 rows x 4 columns]

In [5]:
print(ride.isnull().sum())

Trip ID                      0
Trip Miles                   0
Trip Start Timestamp         0
Trip End Timestamp           0
Pickup Census Tract          0
Pickup Centroid Location     0
Dropoff Census Tract         0
Dropoff Centroid Location    0
Shared Trip Authorized       0
Trips Pooled                 0
Trip Total                   0
Fare                         0
Additional Charges           0
Tip                          0
dtype: int64

In [8]:
ride.dtypes

Trip ID                       object
Trip Miles                    object
Trip Start Timestamp          object
Trip End Timestamp            object
Pickup Census Tract          float64
Pickup Centroid Location      object
Dropoff Census Tract         float64
Dropoff Centroid Location     object
Shared Trip Authorized          bool
Trips Pooled                   int64
Trip Total                   float64
Fare                         float64
Additional Charges           float64
Tip                            int64
dtype: object

In [45]:
updatedRides = ride.copy(deep = True)
updatedWeather = weather.copy(deep = True)

In [46]:
updatedRides["Trip Start Timestamp"] = pd.to_datetime(ride["Trip Start Timestamp"])
updatedRides["Trip End Timestamp"] = pd.to_datetime(ride["Trip End Timestamp"])

In [47]:
updatedWeather["date"] = pd.to_datetime(weather["date"])

In [48]:
updatedRides

,Trip ID,Trip Miles,Trip Start Timestamp,Trip End Timestamp,Pickup Census Tract,Pickup Centroid Location,Dropoff Census Tract,Dropoff Centroid Location,Shared Trip Authorized,Trips Pooled,Trip Total,Fare,Additional Charges,Tip
0,001ab3a53a4f74430d2a9aae216fed703244cfc9,1.5,2019-05-01 00:00:00,2019-05-01 00:00:00,1.703183e+10,POINT (-87.6542980837 41.9462945357),1.703106e+10,POINT (-87.671518011 41.9579038971),False,1,5.05,2.5,2.55,0
1,01080eb6fc1bd9ec70e3fd8a2a56345754b92332,5.7,2019-05-01 00:00:00,2019-05-01 00:15:00,1.703108e+10,POINT (-87.6288741572 41.8920726347),1.703183e+10,POINT (-87.6542980837 41.9462945357),True,2,8.22,7.5,0.72,0
2,015aeacaa25560b04a0dfc6a48f95a820f9a22f6,0.7,2019-05-01 00:00:00,2019-05-01 00:15:00,1.703133e+10,POINT (-87.6173580061 41.859349715),1.703184e+10,POINT (-87.6314065252 41.8710158803),False,1,5.05,2.5,2.55,0
3,01aded4891f4d76040f68a15730afcb5003b70ea,2.7,2019-05-01 00:00:00,2019-05-01 00:15:00,1.703128e+10,POINT (-87.642648998 41.8792550844),1.703108e+10,POINT (-87.6318639497 41.8920421365),False,1,10.05,7.5,2.55,0
4,023ea4b576bf41415848e32b5fc4fae7d49e4cca,0.7,2019-05-01 00:00:00,2019-05-01 00:00:00,1.703128e+10,POINT (-87.6428084655 41.8853000224),1.703184e+10,POINT (-87.6327464887 41.8809944707),False,1,7.55,5.0,2.55,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6473071,fe2f04bc1b4ea3aded8a78658cc8edd323338a5e,3.5,2019-05-31 23:45:00,2019-06-01 00:00:00,1.703132e+10,POINT (-87.6209929134 41.8849871918),1.703183e+10,POINT (-87.6572331997 41.8852813201),False,1,10.05,7.5,2.55,0
6473072,feb856490a4b0347d969f12e4441e156c2d95c02,7.8,2019-05-31 23:45:00,2019-06-01 00:15:00,1.703133e+10,POINT (-87.6173580061 41.859349715),1.703106e+10,POINT (-87.6661106945 41.9360865352),False,1,17.55,15.0,2.55,0
6473073,fed64aeed4f1adec33181fc45293e89e67ef4c57,3.4,2019-05-31 23:45:00,2019-06-01 00:00:00,1.703183e+10,POINT (-87.6542980837 41.9462945357),1.703121e+10,POINT (-87.7038545435 41.9357064711),False,1,10.05,7.5,2.55,0
6473074,feed29ad09ef0ab559ffb5fd43323aaf3db0b55d,2.9,2019-05-31 23:45:00,2019-06-01 00:00:00,1.703183e+10,POINT (-87.6572331997 41.8852813201),1.703108e+10,POINT (-87.630963601 41.9094956686),False,1,12.55,10.0,2.55,0
6473075,ff0382063dc02bb181fdbad320456c4ec90c2399,8.8,2019-05-31 23:45:00,2019-06-01 00:15:00,1.703108e+10,POINT (-87.6378442095 41.8932163595),1.703104e+10,POINT (-87.681993542 41.9833308063),False,1,17.55,15.0,2.55,0

In [38]:
updatedWeather.dtypes

date             datetime64[ns]
wind                    float64
precipitation           float64
avg_temp                float64
dtype: object

In [39]:
updatedRides.dtypes

Trip ID                              object
Trip Miles                           object
Trip Start Timestamp         datetime64[ns]
Trip End Timestamp           datetime64[ns]
Pickup Census Tract                 float64
Pickup Centroid Location             object
Dropoff Census Tract                float64
Dropoff Centroid Location            object
Shared Trip Authorized                 bool
Trips Pooled                          int64
Trip Total                          float64
Fare                                float64
Additional Charges                  float64
Tip                                   int64
dtype: object

In [49]:
only_date = updatedRides["Trip Start Timestamp"].dt.date
updatedRides.insert(2, "Date", only_date)

In [53]:
updatedRides["Date"] = pd.to_datetime(updatedRides["Date"])
updatedRides

,Trip ID,Trip Miles,Date,Trip Start Timestamp,Trip End Timestamp,Pickup Census Tract,Pickup Centroid Location,Dropoff Census Tract,Dropoff Centroid Location,Shared Trip Authorized,Trips Pooled,Trip Total,Fare,Additional Charges,Tip
0,001ab3a53a4f74430d2a9aae216fed703244cfc9,1.5,2019-05-01,2019-05-01 00:00:00,2019-05-01 00:00:00,1.703183e+10,POINT (-87.6542980837 41.9462945357),1.703106e+10,POINT (-87.671518011 41.9579038971),False,1,5.05,2.5,2.55,0
1,01080eb6fc1bd9ec70e3fd8a2a56345754b92332,5.7,2019-05-01,2019-05-01 00:00:00,2019-05-01 00:15:00,1.703108e+10,POINT (-87.6288741572 41.8920726347),1.703183e+10,POINT (-87.6542980837 41.9462945357),True,2,8.22,7.5,0.72,0
2,015aeacaa25560b04a0dfc6a48f95a820f9a22f6,0.7,2019-05-01,2019-05-01 00:00:00,2019-05-01 00:15:00,1.703133e+10,POINT (-87.6173580061 41.859349715),1.703184e+10,POINT (-87.6314065252 41.8710158803),False,1,5.05,2.5,2.55,0
3,01aded4891f4d76040f68a15730afcb5003b70ea,2.7,2019-05-01,2019-05-01 00:00:00,2019-05-01 00:15:00,1.703128e+10,POINT (-87.642648998 41.8792550844),1.703108e+10,POINT (-87.6318639497 41.8920421365),False,1,10.05,7.5,2.55,0
4,023ea4b576bf41415848e32b5fc4fae7d49e4cca,0.7,2019-05-01,2019-05-01 00:00:00,2019-05-01 00:00:00,1.703128e+10,POINT (-87.6428084655 41.8853000224),1.703184e+10,POINT (-87.6327464887 41.8809944707),False,1,7.55,5.0,2.55,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6473071,fe2f04bc1b4ea3aded8a78658cc8edd323338a5e,3.5,2019-05-31,2019-05-31 23:45:00,2019-06-01 00:00:00,1.703132e+10,POINT (-87.6209929134 41.8849871918),1.703183e+10,POINT (-87.6572331997 41.8852813201),False,1,10.05,7.5,2.55,0
6473072,feb856490a4b0347d969f12e4441e156c2d95c02,7.8,2019-05-31,2019-05-31 23:45:00,2019-06-01 00:15:00,1.703133e+10,POINT (-87.6173580061 41.859349715),1.703106e+10,POINT (-87.6661106945 41.9360865352),False,1,17.55,15.0,2.55,0
6473073,fed64aeed4f1adec33181fc45293e89e67ef4c57,3.4,2019-05-31,2019-05-31 23:45:00,2019-06-01 00:00:00,1.703183e+10,POINT (-87.6542980837 41.9462945357),1.703121e+10,POINT (-87.7038545435 41.9357064711),False,1,10.05,7.5,2.55,0
6473074,feed29ad09ef0ab559ffb5fd43323aaf3db0b55d,2.9,2019-05-31,2019-05-31 23:45:00,2019-06-01 00:00:00,1.703183e+10,POINT (-87.6572331997 41.8852813201),1.703108e+10,POINT (-87.630963601 41.9094956686),False,1,12.55,10.0,2.55,0
6473075,ff0382063dc02bb181fdbad320456c4ec90c2399,8.8,2019-05-31,2019-05-31 23:45:00,2019-06-01 00:15:00,1.703108e+10,POINT (-87.6378442095 41.8932163595),1.703104e+10,POINT (-87.681993542 41.9833308063),False,1,17.55,15.0,2.55,0

In [54]:
updatedRides.dtypes

Trip ID                              object
Trip Miles                           object
Date                         datetime64[ns]
Trip Start Timestamp         datetime64[ns]
Trip End Timestamp           datetime64[ns]
Pickup Census Tract                 float64
Pickup Centroid Location             object
Dropoff Census Tract                float64
Dropoff Centroid Location            object
Shared Trip Authorized                 bool
Trips Pooled                          int64
Trip Total                          float64
Fare                                float64
Additional Charges                  float64
Tip                                   int64
dtype: object

In [55]:
combined_data = updatedRides.merge(updatedWeather,how="left", left_on="Date", right_on="date")

In [56]:
combined_data

,Trip ID,Trip Miles,Date,Trip Start Timestamp,Trip End Timestamp,Pickup Census Tract,Pickup Centroid Location,Dropoff Census Tract,Dropoff Centroid Location,Shared Trip Authorized,Trips Pooled,Trip Total,Fare,Additional Charges,Tip,date,wind,precipitation,avg_temp
0,001ab3a53a4f74430d2a9aae216fed703244cfc9,1.5,2019-05-01,2019-05-01 00:00:00,2019-05-01 00:00:00,1.703183e+10,POINT (-87.6542980837 41.9462945357),1.703106e+10,POINT (-87.671518011 41.9579038971),False,1,5.05,2.5,2.55,0,2019-05-01,3.7,20.3,10.0
1,01080eb6fc1bd9ec70e3fd8a2a56345754b92332,5.7,2019-05-01,2019-05-01 00:00:00,2019-05-01 00:15:00,1.703108e+10,POINT (-87.6288741572 41.8920726347),1.703183e+10,POINT (-87.6542980837 41.9462945357),True,2,8.22,7.5,0.72,0,2019-05-01,3.7,20.3,10.0
2,015aeacaa25560b04a0dfc6a48f95a820f9a22f6,0.7,2019-05-01,2019-05-01 00:00:00,2019-05-01 00:15:00,1.703133e+10,POINT (-87.6173580061 41.859349715),1.703184e+10,POINT (-87.6314065252 41.8710158803),False,1,5.05,2.5,2.55,0,2019-05-01,3.7,20.3,10.0
3,01aded4891f4d76040f68a15730afcb5003b70ea,2.7,2019-05-01,2019-05-01 00:00:00,2019-05-01 00:15:00,1.703128e+10,POINT (-87.642648998 41.8792550844),1.703108e+10,POINT (-87.6318639497 41.8920421365),False,1,10.05,7.5,2.55,0,2019-05-01,3.7,20.3,10.0
4,023ea4b576bf41415848e32b5fc4fae7d49e4cca,0.7,2019-05-01,2019-05-01 00:00:00,2019-05-01 00:00:00,1.703128e+10,POINT (-87.6428084655 41.8853000224),1.703184e+10,POINT (-87.6327464887 41.8809944707),False,1,7.55,5.0,2.55,0,2019-05-01,3.7,20.3,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6473071,fe2f04bc1b4ea3aded8a78658cc8edd323338a5e,3.5,2019-05-31,2019-05-31 23:45:00,2019-06-01 00:00:00,1.703132e+10,POINT (-87.6209929134 41.8849871918),1.703183e+10,POINT (-87.6572331997 41.8852813201),False,1,10.05,7.5,2.55,0,2019-05-31,4.2,0.0,21.4
6473072,feb856490a4b0347d969f12e4441e156c2d95c02,7.8,2019-05-31,2019-05-31 23:45:00,2019-06-01 00:15:00,1.703133e+10,POINT (-87.6173580061 41.859349715),1.703106e+10,POINT (-87.6661106945 41.9360865352),False,1,17.55,15.0,2.55,0,2019-05-31,4.2,0.0,21.4
6473073,fed64aeed4f1adec33181fc45293e89e67ef4c57,3.4,2019-05-31,2019-05-31 23:45:00,2019-06-01 00:00:00,1.703183e+10,POINT (-87.6542980837 41.9462945357),1.703121e+10,POINT (-87.7038545435 41.9357064711),False,1,10.05,7.5,2.55,0,2019-05-31,4.2,0.0,21.4
6473074,feed29ad09ef0ab559ffb5fd43323aaf3db0b55d,2.9,2019-05-31,2019-05-31 23:45:00,2019-06-01 00:00:00,1.703183e+10,POINT (-87.6572331997 41.8852813201),1.703108e+10,POINT (-87.630963601 41.9094956686),False,1,12.55,10.0,2.55,0,2019-05-31,4.2,0.0,21.4
6473075,ff0382063dc02bb181fdbad320456c4ec90c2399,8.8,2019-05-31,2019-05-31 23:45:00,2019-06-01 00:15:00,1.703108e+10,POINT (-87.6378442095 41.8932163595),1.703104e+10,POINT (-87.681993542 41.9833308063),False,1,17.55,15.0,2.55,0,2019-05-31,4.2,0.0,21.4